@model Sklep_internetowy_projekt.Models.Order

@{
    ViewData["Title"] = "Potwierdzenie zamówienia";
}

<h2>Potwierdzenie zamówienia</h2>


<div>
    <a asp-action="Index" asp-controller="Home">Powrót do strony głównej</a>
</div>